ng.assettolab.com {
    reverse_proxy nginx:80 {
        header_up X-Forwarded-Proto https
    }

    encode gzip

    @static {
        path_regexp \.(jpg|jpeg|png|gif|ico|css|js|woff2?|ttf|svg)$
    }

    header @static {
        Cache-Control "public, max-age=31536000"
        Expires "Sun, 31 Dec 2037 23:55:55 GMT"
    }
}
